{% load static %}
<section class="section section-lg text-center bg-default">
    <div class="container">
      <h3 class="section-title wow-outer"><span class="wow slideInUp">About Me</span></h3>
      <p class="wow-outer"><span class="text-width-1 wow slideInDown">Since 2008, I've been providing my clients with quality photography and retouching services. Some of my works were awarded on a national level. Below are some facts about me.</span></p>
      <div class="row row-50">
        <div class="col-6 col-md-3 wow-outer">
          <!-- Counter Minimal-->
          <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
            <div class="counter-minimal-icon linearicons-mustache-glasses"></div>
            <div class="counter-minimal-main">
              <div class="counter">22</div>
            </div>
            <h5 class="counter-minimal-title">Photography Awards</h5>
          </article>
        </div>
        <div class="col-6 col-md-3 wow-outer">
          <!-- Counter Minimal-->
          <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
            <div class="counter-minimal-icon linearicons-camera2"></div>
            <div class="counter-minimal-main">
              <div class="counter">156</div>
            </div>
            <h5 class="counter-minimal-title">Photo Shoots</h5>
          </article>
        </div>
        <div class="col-6 col-md-3 wow-outer">
          <!-- Counter Minimal-->
          <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
            <div class="counter-minimal-icon linearicons-shutter"></div>
            <div class="counter-minimal-main">
              <div class="counter">10</div>
            </div>
            <h5 class="counter-minimal-title">Years of Experience</h5>
          </article>
        </div>
        <div class="col-6 col-md-3 wow-outer">
          <!-- Counter Minimal -->
          <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
            <div class="counter-minimal-icon linearicons-picture"></div>
            <div class="counter-minimal-main">
              <div class="counter">392</div>
            </div>
            <h5 class="counter-minimal-title">Annual Clients</h5>
          </article>
        </div>
      </div>
    </div>
  </section>