{% load static %}
<section class="section section-overlap bg-decorate">
    <div class="section-overlap-image" style="background-image: url({% static 'images/screens-1-1046x720.jpg'%})"></div>
    <div class="section-overlap-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="wow-outer">
              <h6 class="font-weight-sbold text-primary wow slideInDown">I'm Jonathan Davis</h6>
            </div>
          </div>
          <div class="col-md-8 col-lg-7 col-xl-6">
            <h1 class="wow-outer"><span class="font-weight-bold wow-outer"><span class="wow slideInUp">Photographer</span></span><span class="font-weight-exlight wow-outer"><span class="wow slideInUp" data-wow-delay=".1s">& Retoucher</span></span></h1>
          </div>
          <div class="col-md-6 col-lg-5 col-xl-4 col-offset-1">
            <div class="wow-outer">
              <h4 class="font-weight-light wow slideInUp" data-wow-delay=".2s">Based in San Diego, I specialize in various kinds of photography</h4>
            </div>
            <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow slideInUp" href="#" data-wow-delay=".3s">View Portfolio</a></div>
          </div>
        </div>
      </div>
    </div>
</section>